<div id="main">

  <article class="question">
    <div class="votes count">
      <p class="question_vote_count">votes_count</p><label>Votes</label>
    </div>
    <h2 class="question_title">question.title</h2>    
    <div class="question_text">question.text</div>
    <p class="question_author">Posted by author.id on timestamp.</p>    
  </article>

  <div class="answers">
    <h2 class="question_answer_count">answers_count Answers</h2>
      <article class="answer">
        <div class="votes count"><p class="answer_vote_count">answer.votes_count</p><label>Votes</label></div>
        <div class="answer_text">answer.text</div>
        <p class="answer_author">Posted by author on timestamp.</p>    
      </article>

      <div class="add answer" style="border-top: 1px solid silver;">
      <p>Add another answer.</p>
      <form method="POST" action="answer" class="login" id="answer">
        <div class="input"><textarea name="text"></textarea></div>
        <div class="input"><input type="submit" name="Post Your Answer" /></div>
      </form>
    </div>    
  </div>
</div>
